.breadcrumb {
  font-size: 10px;
  display: flex;
  align-items: center;
  color: #0595f5;
  margin-bottom: 32px;
}
.breadcrumb__link {
  color: #0595f5;
  text-decoration: none;
}
.breadcrumb__separator,
.breadcrumb__current {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.breadcrumb__separator {
  margin: 0 8px;
}
